* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'etiquettemedium';
  src: url('etiquette-webfont.woff2') format('woff2'),
       url('etiquette-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(rgb(31, 28, 28)));
  background-color: rgb(31, 28, 28);
  padding: 0px;
  margin: 0px;
  color: white;
  }

p {
  margin-left: 25px;
}


    /* FÖRSTA HEADERN */

header.forsta {
    background-color: rgb(0, 0, 0);
    height: 50px;
    padding: 30px 20px 30px 20px;
    margin: 0 100px 0 100px;
    border-bottom: solid rgb(194, 191, 191) 1px;
  }
  
header.forsta li.logo a {
    background-image: url("/imgs/pizza1.jpg");
    background-size: 90px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    text-indent: -9999999px;
    top: -30px;
    height: 80px;
    width: 80px;
    z-index: 10;
  }
  
header.forsta ul.top {
list-style-type: none;
display: flex;
}

ul.top li {
  margin-left: auto;
  margin-right: auto; 
  position: relative;
  top: -25.515px;
}

ul.top a {
  text-decoration: none;
}




    /* ANDRA HEADERN*/
  
.header {
    background-color: rgba(0, 0, 0, 0,1);
    color: white;
    position: sticky;
    width: 100%;
    top: 0;
    height: 50px;
  }
  
.scrolled .header {
    opacity: 1;
    transition: opacity .2s;
    background-color: black;
  }
  
.header ul{
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    margin: auto;
  }
  
.header li {
    height: 50px;
    margin: 0px 50px 10px 10px;
  }
  
.header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: auto;
    position: relative;
    top: +15px;
    font-size: 17px;
  }
  
.header a:hover {
    color: #0e4bef;
  }
  
.header li:first-child {
    margin-left: 500px;
  }
  
.header li:nth-last-child(2) {
    margin-right: 300px;    
  }
  
.header .right a{
    font-size: 11px;
  
  }
  



    /* SLIDESHOW */
  
#slide{
    width: 100%;
      }
      
  
.mySlides {
    display: none;
    margin: 0 100px 0 100px;
  }
  
.slideshow-container {
    width: auto;
      position: relative;
      margin: -10px;
  
  }
  /* Next & previous buttons */
.prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin: -22px 100px 0 100px;
      background-color: rgba(255, 255, 255, .25);
      color: rgb(73, 75, 85);
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
  }
  /* Positionera "next button" till höger */
.next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  
/* Om vid hover, lägg till en svart bakgroundsfärg med lite transparens */
.prev:hover, .next:hover {
    background-color: rgba(28,29,33, .75);
    color: rgb(230, 231, 238);
  }
  /* Caption-text */
.captiontext {
      color: #f2f2f2;
      font-size: 18px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
  }
  
  /* The dots/bullets/indicators */
.dot {
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
      background-color: #494B55;
  }
  
  /* FADING ANIMATION */
.fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2s;
      animation-name: fade;
      animation-duration: 2s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
.pics
  {
      border:3px solid #494B55;
      width: 1065px;
      height: 500px;
  }
  



  /* MITTENSEKTIONEN */

section.mitten{
    padding: 50px;
    color: white;
    margin: 0px 100px 0px 100px; 
    
  }




     /* FOOTERN */ 

footer {
    margin: 0px 100px 0px 100px;
    background-color: green; 
  }
  
p.copyright {
    color: rgb(218, 218, 218);
    margin-top: 20px; 
  }




  /* NY SIDA */
  /* PIZZASIDAN */
ul.pizzameny {
  font-weight: bold;
  list-style-type: none;
  color: white;
  display: inline-block;
  vertical-align: top;
  
  
}

li.matcontainer1 {
  background-color: black;
  border-right: solid rgb(194, 191, 191) 1px;
  padding-top: 10px; 
  padding-left: 10px; 
}

li.matcontainer2 {
  background-color: rgba(0, 0, 0, 0.4);
  border-right: solid rgb(194, 191, 191) 1px;
  padding-top: 10px;
  padding-left: 10px;

}


p.pris {
  color: red;
  margin: 0px 5px 0px 5px; 
  padding: 0px; 
  display: inline-block;
  vertical-align: top;
}

p.ingrediens {
  margin: 5px 0px 10px 25px;
  font-weight: lighter;
  padding-bottom: 10px; 
  
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;  
}





    /* MOBILMENYN */

/* Styling för navigationsmenyn */
.mobilNav {
  display: none;
  
}

/* Gömmer länkarna i navigationsmenyn om inte menyn är aktiv */
.mobilNav #myLinks {
  display: none;
}

/* Styling för länkarna i navigationsmenyn */
.mobilNav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  justify-content: flex-end;
}

/* Styling för hamburgermeny */
.mobilNav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Lägger till en grå bakgrund vid hover */
.mobilNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.aktivMeny {
  background-color: #4CAF50;
  color: white;
}




  /* SKÄRMANPASSNING */

/* EXTRA SMÅ ENHETER */
@media only screen and (max-width: 600px) {
.text {font-size: 11px
}
.desktopNav {
  display: none;
}

.mobilNav {
  display: inline-flex;

}
}

  /* VANLIGA MOBILSKÄRMAR OCH SMÅ PLATTOR */
@media only screen and (min-width: 600px) {

.desktopNav {
display: none;
}

.mobilNav {
display: inline-flex;
}
}

/* MEDIUMSTORA ENHETER (plattor) */
@media only screen and (min-width: 768px) {
.desktopNav {
    display: none;
    
}
.mobilNav {
display: inline-flex;
}
}

/* STÖRRE ENHETER (laptops/desktops, 992px och uppåt) */
@media only screen and (min-width: 992px) {
.mobilNav {
display: none; 
}
.desktopNav {
display: inline-flex;
}
}


/* EXTRA STORA ENHETER (större laptops och desktops, 1200px och uppåt) */
@media only screen and (min-width: 1200px) {
.mobilNav {
display: none;
}
.desktopNav {
display: inline-flex;
}
}
